<%- include("header.ejs") %>

<div class="todo-list">
    <h1>Today</h1>
    <% tasks.forEach((task) => { %>
        <form action="/deletetask" method="POST">
            <div class="item">
                <input type="checkbox" name="taskcompletion" value="<%= task._id %>" onChange="this.form.submit()">
                <span><%= task.name %></span>
            </div>
        </form>
    <% }) %>
    <form action="/addtask" method="POST">
        <input type="text" id="todaytask" name="todaytask" placeholder="Enter your Task" />
        <input type="submit" value="+" class="addtask" />
    </form>
</div>

<%- include("footer.ejs") %>
