<%- include("header.ejs") %>
    <div class="todo-list">
        <h1>Work</h1>
        <ul style="list-style: none; padding-left: 0; align-self: left;">
            <% wtasks.forEach((task1)=>{%>
            <li>
                <input type="checkbox" class="checkbox" data-task="<%= task1.wtext %>" onchange="toggleTask(this)" <% if (task1.completed) { %>checked<% } %> />
                <%= task1.wtext %>

            </li>
            <% })%>
          </ul>
      <form action="/work" method="POST">
        
        <input
          type="text"
          id="worktask"
          name="worktask"
          placeholder="Enter your Task"
        />
        <input type="submit" value="+" />
      </form>
    </div>
<%- include("footer.ejs") %>