h1 {
  font-size: 2rem;
}
body {
  background-color: rgb(40, 62, 70);
}
.todo-list {
  /* border: 2px solid black; */
  background-color: rgb(216, 207, 38);
  color: black;
  border-radius: 5%;
  padding: 10px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

ul {
  position: relative;
  list-style: none;
  padding-left: 0;
}
.checkbox {
  position: relative;
  margin-right: 5px;
}
#todaytask,
#worktask {
  outline: none;
  background: transparent;
  border-color: transparent;
}
.addtask {
  background: transparent;
  border-color: transparent;
  outline: none;
}

input:checked + span {
  text-decoration: line-through;
  font-style: italic;
}

.date{
    font-size: 3rem;
    margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: fit-content;
  background-color: aliceblue;
  border-radius: 18px;

}